body {
    font-family: "PT Sans", serif;
    margin: 0;
}


h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000;
}

h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.first_p {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.second_p {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
}

.third_p {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "PT Sans", sans-serif;
    padding-right: 6.55%;
    padding-left: 6.55%;
    /*вот тут надо ссылки распределить сделать их дивками*/
}

header a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

main {
    background: url(img/mainbackground.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 485px;
    display: flex;
    justify-content: center;
    /*косая и кривая верстка,,, надо переверстать! странно по высоте вроде норм?
    а вроде не как в макете получается и еще какие-то
     белые вырезы на бэке хз как сделать*/
}

.main_welcome {
    height: 352px;
    width: 458px;
    padding-top: 66.5px;
    padding-bottom: 66.5px;
    /*если верстать ее по флексу то сливается велком и через паддинги тоже не получается*/
}

.about {
    background-color: #fff;
    height: 261px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.city {
    display: flex;
}

.city_text {
    height: 385px;
    width: 33.4%;
    background-color: #82B3D3;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    /*НАДО ПОМЕНЯТЬ МЕСТАМИ КАРТИНКУ И ТЕКСТ! ТЕКСТ СЛЕВА КАРТИНКА СПРАВА! НО ПРОПИСЫВАЯ right не меняется текст тоже не по центруƒ :(*/
}

.city_img {
    height: 385px;
    width: 66.6%;
    display: flex;
    justify-content: right;
    align-items: right;
}

.canyon {
    height: 385px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.canyon_text {
    background-color: #82B3D3;
    height: 385px;
    width: 33.4%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*ТУТ ВСЕ РАВНО ТЕКСТ КРИВО СВЕРСТАЛСЯ!!!*/
}

.white_line {
    width: 60px;
    border-top: 2px solid #FFFFFF4D;
}

.canyon_img {
    height: 385px;
    width: 66.6%;
    display: flex;
    justify-content: left;
    align-items: left;
}

.come {
    background-color: #fff;
    height: 246px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.int_text {
    height: 406px;
    text-align: center;
}


button {
    background-color: #756157;
    color: #fff;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    padding: 8px 50px 8px 50px;
    border: 0;
    border-radius: 4px;
    gap: 10px;
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "PT Sans", sans-serif;
}

.form {
    background: url(img/form_background.jpeg) no-repeat;
    background-size: cover;
    background-position: top;
    height: 415px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*КНОПКИ НАДО СОЕДИНИТЬ ВМЕСТЕ НЕ ЗНАЮ КАК НАДО ПОГУГЛИТЬ*/
}

.form_h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #fff;
}

.form_p {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #fff;
}

.form_btn {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background-color: #82B3D3;
    height: 52px;
    width: 232px;
}

.email_input {
    color: #000;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    background-color: #F2F2F2;
    border: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 12px 20px;
    gap: 260px;
    height: 28px;
    width: 412px;
    text-align: left;
}

.plus_second_house {
    background-color: #83B3D31F;
    text-align: center;
    width: 33.34%;
    padding-top: 81px;
    padding-bottom: 81px;
}

.plus_second_food {
    background-color: #fff;
    text-align: center;
    width: 33.34%;
    padding-top: 81px;
    padding-bottom: 81px;
}

.plus_second_present {
    background-color: #83B3D31F;
    text-align: center;
    width: 33.34%;
    padding-top: 81px;
    padding-bottom: 81px;
}

.plus_second {
    display: flex;
    justify-content: space-between;
    height: 385px;
}

.plus_first {
    height: 385px;
    display: flex;
    justify-content: space-between;
}

.plus_first_square {
    background-color: #83B3D31F;
    text-align: center;
    width: 33.34%;
    padding-top: 112.5px;
    padding-bottom: 112.5px;
}

.plus_first_road {
    background-color: #83B3D333;
    text-align: center;
    width: 33.34%;
    padding-top: 112.5px;
    padding-bottom: 112.5px;
}

.plus_first_tourist {
    background-color: #83B3D31F;
    text-align: center;
    width: 33.34%;
    padding-top: 112.5px;
    padding-bottom: 112.5px;
}

.int {
    display: flex;
    justify-content: center;
    background-color: #fff;
    height: 406px;
}

.int_text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.int_btn {
    height: 52px;
    width: 376px;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
}


.black_line {
    width: 60px;
    border-top: 2px solid #0000004D;
   /* display: flex;
    justify-content: center;
    align-items: center; ПОЧЕМУ ОНА НЕ ИДЕТ В ЦЕНТР??? надо в plus_first менять верстку??/*/
}

nav {
    display: flex;
    justify-content: space-between;

}
